.grbutton {
  color: white;
  background-color: #3498db;
  display: inline-block;
  cursor: pointer;
}

.grbutton_icon {
  width: 36px;
  height: 36px;
}

.grbutton:hover {
  background-color: #52a7e0;
}

.grbutton:focus {
  background-color: #52a7e0;
}

.grbutton:active {
  background-color: #3498db;
}

.grbutton:disabled {
  background-color: #7bbce8;
}

.grbutton_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: inherit;
}
/* 
.grbutton i {
  font-family: "FontAwesome";
  margin-right: 8px;
  margin-left: 6px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
} */

.grbutton::before {
  margin-right: 8px;
  display: inline-block;
  /* font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; */
}



/* .grbutton::before {
  font-family: "FontAwesome";
  font-weight: 900;
} */

/* .grbutton::before {
  font-family: 'FontAwesome';
  content: '\f104';
  /* position: absolute; */
  /* right: 5px;
  top: 0px;
  display: block;
  font-style: normal;
  font-size: 24px;
} */
